@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Georgia, Times New Roman, Times, 'serif';
	font-size: 18px;
	line-height: 150%;
	color: #777777;
	background-color: #FFFFFF;
	border-color: #dddddd;
}
#container {
 	width: 960px;
  	margin: 0 auto;
}

.main {
  	width: 100%;
	clear: both;
	}
header {
	float: left;
	width: 300px;
	padding: 10px;
 	background: #4aaaa5;
	border-color: #cccccc;
}
nav{
	float: right;
	width: 300px;
	padding: 25px 0px 0px 0px;
	background: #4aaaa5;
	background-color: #fff;
	border-color: #cccccc;
}

img {
	float: left;
	padding: 5px;
}

h1 {
  	padding: 20px 0px 10px 0px;
 	margin: 0;
  	font-size: 28px;
  	color: #000;
}

h3 {
	padding: 20px 0px 5px 0px;
  	font-size: 24px;
	font-weight: bolder;
  	color: #4aaaa5;
}

a {
  	color: #909090;
}




#footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: #fff;
	background-color: #666666;
	padding: 0.01em 16px;
	font-size: 15px;
	line-height: 1.5;
}